
@inherits LokerCompBase


<div class="container py-4">
    <div class="row text-center">
          <div class="col-lg-12">
              <h3>Loker</h3>
          </div>
    </div>
    <div class="row loker">
        <div class="col-lg-12">
            @if (lokers != null)
            {
                @foreach (var item in lokers)
                {
            <div class="row d-flex align-items-center mt-5 loker-list">
                <div class="col-lg-2 loker-judul text-center">
                    @item.JudulLowongan
                </div>
                <div class="col-lg-8 loker-keterangan">
                    @item.Keterangan
                </div>
                <div class="col-lg-2 loker-btn text-center">
                    <button class="btn btn-create" @onclick="@(x => GetLoker(item.Id) )">
                        Daftar
                    </button>
                </div>
            </div>
                    }
                }
            </div>
      
        @*<div class="col-lg-4 col-loker">
            <div class="card">
                <div class="card-body">
                    <p>@item.JudulLowongan</p>
                    <p>@item.Keterangan</p>
                    <DxButton >Loker id</DxButton>
                </div>
            </div>
           
        </div>*@
         

    </div>
</div>



