@page "/loker"

@inherits LokerCompBase


<h3>Loker</h3>

@if (lokers != null)
{
    @foreach (var item in lokers)
    {
        <p>@item.Id</p> 
        <DxButton @onclick="@(x => GetLoker(item.Id))">  </DxButton>
        <p>@item.JudulLowongan</p>
        <p>@item.Keterangan</p>
    }
}

<p>@JudulLowongan</p>

<button onclick="">Get Loker Single</button>


