@page "/pertanyaan"

@inherits PertanyaanCompBase
@using Utility

<div class="container-lg">
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <div class="judul-pertanyaan">
                <h2>
                    Pertanyaan
                </h2>
                <p>
                    Harap Isi semua pertanyaan !
                </p>
            </div>
            @if (FormPertanyaan.Count == 0)
            {
                <div class="text-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            }
            else
            {
        
                @foreach (var item in FormPertanyaan)
                {
                    @switch (item.BentukIsian)
                    {
                        case "Paragraf":
                            <div class="card-body">
                                <p class="d-flex">
                                    <span class="me-auto">@item.Pertanyaan</span>
                                    <span class="bintang">*</span>
                                </p>
                                <div class="kotak-input">
                                    <div class="bungkus-input">
                                        <DxMemo Rows="7"
                                                NullText="Enter Jawaban"
                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                TextChanged="@(x => item.Jawaban = x.ToString())" />
                                    </div>
                                </div>
                            </div>
                            break;

                        case "Simple Text":
                            <div class="card-body">
                                <p class="d-flex">
                                    <span class="me-auto">@item.Pertanyaan</span>
                                    <span class="bintang">*</span>
                                </p>
                                <div class="kotak-input">
                                    <div class="bungkus-input">
                                        <DxTextBox NullText="Enter Jawaban"
                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                   TextChanged="@(x => item.Jawaban = x.ToString())" />
                                    </div>
                                </div>
                            </div>
                            break;

                        case "Checkbox":
                            <div class="card-body">
                                <p class="d-flex">
                                    <span class="me-auto">@item.Pertanyaan</span>
                                    <span class="bintang">*</span>
                                </p>
                                <div class="kotak-input">
                                    <div class="bungkus-input">
                                        <DxTagBox Data="@item.Pilihan"
                                                  TData=object
                                                  TValue=object
                                                  SelectedItemsChanged="@((x) =>
                                                                          { var result = x.Cast<object>().ToList();
                                                                              string arrayConver = string.Join(",", result);
                                                                              item.Jawaban = arrayConver;
                                                                          })"
                                                  ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                        </DxTagBox>
                                    </div>
                                </div>
                            </div>

                            break;
                        case "Yes No Question":
                            <div class="card-body">
                                <p class="d-flex">
                                    <span class="me-auto">@item.Pertanyaan</span>
                                    <span class="bintang">*</span>
                                </p>
                                <div class="kotak-input">
                                    <div class="bungkus-input">
                                        <div class="form-check">
                                            <input class="form-check-input" value="Yes" @onchange="@(x => item.Jawaban = x.Value.ToString())" type="radio" name="@item.Id">
                                            <label class="form-check-label" for="@item.Id">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" value="No" @onchange="@(x => item.Jawaban = x.Value.ToString())" type="radio" name="@item.Id">
                                            <label class="form-check-label" for="@item.Id">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            break;
                        case "Nominal":
                            <div class="card-body">
                                <p class="d-flex">
                                    <span class="me-auto">@item.Pertanyaan</span>
                                    <span class="bintang">*</span>
                                </p>
                                <div class="kotak-input">
                                    <div class="bungkus-input">
                                        <DxSpinEdit ValueChanged="@((int x) => item.Jawaban = x.ToString())"
                                                    Mask="Rp #,#########"
                                                    MinValue="0" />
                                    </div>
                                </div>
                            </div>
                            break;
                        case "Tanggal":
                            <div class="card-body">
                                <p class="d-flex">
                                    <span class="me-auto">@item.Pertanyaan</span>
                                    <span class="bintang">*</span>
                                </p>
                                <div class="kotak-input">
                                    <div class="bungkus-input">
                                        @{
                                            var dateHtml = Convert.ToDateTime(item.Jawaban);

                                        }
                                        <DxDateEdit Mask="dd/MMMM/yyyy"                                               
                                                    PickerDisplayMode="DatePickerDisplayMode.Calendar"
                                                    FirstDayOfWeek="DayOfWeek.Monday"
                                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                    DateChanged="@((DateTime x) => item.Jawaban = x.ToString("yyyy-MM-dd"))">
                                            <DxDateTimeMaskProperties CaretMode="@MaskCaretMode.Advancing" />
                                        </DxDateEdit>
                                    </div>
                                </div>
                            </div>
                            break;

                        case "Pilihan Ganda":
                            <div class="card-body">
                                <p class="d-flex">
                                    <span class="me-auto">@item.Pertanyaan</span>
                                    <span class="bintang">*</span>
                                </p>
                                <div class="kotak-input">
                                    <div class="bungkus-input">
                                        <DxComboBox Data="@item.Pilihan"
                                                    TData="object"
                                                    TValue="object"
                                                    SelectedItemChanged="@((x) => item.Jawaban = x.ToString())">
                                        </DxComboBox>
                                    </div>
                                </div>
                            </div>
                            break;
                    }
                }

            }
            <div class="d-grid gap-2 mt-4 mb-4">
                <button class="btn btn-create" @onclick="Save" type="submit">
                    @*<span *ngIf="spin" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>*@
                    Kirim Jawaban
                </button>
            </div>
        </div>
    </div>
</div>
