@page "/profile"

@inherits ProfileCompBase

<section>
    <div class="container-lg">
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="profile">
                    <div class="row">
                        <div class="col-md-12 foto-pelamar">
                            <div class="img-wrap d-flex align-items-center flex-column" id="dropzone-image">
                                @if (fotoPelamar != null)
                                {
                                    <img src="@fotoPelamar" style="cursor: pointer;" class="img-thumbnail">
                                }
                                else
                                {
                                    <div class="text-center">
                                        <div class="spinner-border" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </div>
                                }
                                <div style="display:none">
                                    <DxUpload Name="FileGambar"
                                              UploadUrl="@GetUploadUrl(urlFotoUpload)"
                                              FileUploadStart="@OnFileUploadStart"
                                              SelectedFilesChanged="SelectedFilesChanged"
                                              AllowedFileExtensions="@(new List<string> { ".jpg", ".jpeg", ".png" })"
                                              ExternalSelectButtonCssSelector="#dropzone-image"
                                              AcceptedFileTypes="@(new List<string> { ".jpg", ".jpeg", ".png" })"
                                              ShowSelectButton="false"
                                              FileUploaded="@UploadSukses">
                                    </DxUpload>
                                </div>
                                <div class="btn-uploadEdit flex-fill d-flex align-items-center justify-content-center">
                                    <i class="fas fa-camera"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (editProfile)
                    {
                        <div class="row">
                            @if (dowloadGambar)
                            {
                                <div class="d-flex align-items-center">
                                    <div class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                            }
                            <div class="col-md-12">
                                <h2 class="">@responseInfoPelamar.Nama</h2>
                            </div>
                            <div class="col-md-12">
                                <h3>Pelamar</h3>
                            </div>
                            <div class="col-md-12">
                                <div class="d-flex flex-column">
                                    <h6 class="d-flex align-items-center">
                                        <i class="fas fa-birthday-cake me-2"></i>@responseInfoPelamar.TmptLahir, @TanggalLahirPelamar
                                    </h6>
                                    <h6 class="d-flex" id="alamatBr">
                                        <i class="fas fa-map-marker-alt me-2"></i>@responseInfoPelamar.Alamat
                                    </h6>
                                </div>
                            </div>
                            <div class="col-md-12 mt-1">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-12">
                                        <button class="btn btn-primary btn-edit btn-sm w-100" type="button" style="background-color: #2EB872;" id="dropzone-imageUploadButton">Upload Foto</button>
                                        <div style="display:none">
                                            <DxUpload Name="FileGambar"
                                                      UploadUrl="@GetUploadUrl(urlFotoUpload)"
                                                      FileUploadStart="@OnFileUploadStart"
                                                      SelectedFilesChanged="SelectedFilesChanged"
                                                      AllowedFileExtensions="@(new List<string> { ".jpg", ".jpeg", ".png" })"
                                                      ExternalSelectButtonCssSelector="#dropzone-imageUploadButton"
                                                      AcceptedFileTypes="@(new List<string> { ".jpg", ".jpeg", ".png" })"
                                                      ShowSelectButton="false"
                                                      FileUploaded="UploadSukses">
                                            </DxUpload>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-12">
                                        <a href="/listDaftar" class="btn btn-primary btn-edit btn-sm w-100" style="background-color: #E94455;">Berkas lamaran</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="d-grid gap-2">
                                    <a class="btn btn-primary btn-edit btn-sm" @onclick="editPelamar">Edit Profile</a>
                                </div>
                            </div>
                        </div>
                    }
                    @if (!editProfile)
                    {
                        <div class="row editProfile">
                            <EditForm EditContext="editContext"
                                      OnSubmit="editProfileSubmit">
                                <DataAnnotationsValidator />
                                <div class="dx-fieldset row g-3">
                                    <div class="col-md-12">
                                        <div class="dx-field">
                                            <label class="form-label">Nama</label>
                                            <DxTextBox @bind-Text="@UpdatePelamarResoruce.Nama"
                                                       BindValueMode="BindValueMode.OnInput"
                                                       NullText="Nama Lengkap"
                                                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                            <ValidationMessage For="@(() => UpdatePelamarResoruce.Nama)" />
                                        </div>
                                    </div>
                                    <div class="col-md-12 ">
                                        <div class="dx-field">
                                            <label class="form-label">No Telepon </label>
                                            <DxMaskedInput @bind-Value="@UpdatePelamarResoruce.NoTlp"
                                                           BindValueMode="BindValueMode.OnInput"
                                                           Mask="###############"
                                                           NullText="No Tlpn"
                                                           ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                                <DxTextMaskProperties Placeholder="maskChar" SaveLiteral="true" />
                                            </DxMaskedInput>
                                            <ValidationMessage For="@(() => UpdatePelamarResoruce.NoTlp)" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="dx-field">
                                            <label class="form-label">Tempat Lahir</label>
                                            <DxTextBox @bind-Text="@UpdatePelamarResoruce.TempatLahir"
                                                       BindValueMode="BindValueMode.OnInput"
                                                       NullText="Tempat Lahir"
                                                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                            <ValidationMessage For="@(() => UpdatePelamarResoruce.TempatLahir)" />
                                        </div>
                                    </div>
                                    <div class="col-md-12 ">
                                        <div class="dx-field">
                                            <label class="form-label">Tanggal Lahir</label>
                                            <DxDateEdit @bind-Date="@UpdatePelamarResoruce.TglLahir"
                                                        Mask="dd/MMMM/yyyy"
                                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                                <DxDateTimeMaskProperties CaretMode="@MaskCaretMode.Advancing" />
                                            </DxDateEdit>
                                            <ValidationMessage For="@(() => UpdatePelamarResoruce.TglLahir)" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="dx-field">
                                            <label class="form-label">Alamat</label>
                                            <DxMemo @bind-Text="@UpdatePelamarResoruce.Alamat"
                                                    BindValueMode="BindValueMode.OnInput"
                                                    Rows="7"
                                                    NullText="Alamat saat ini"
                                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                            <ValidationMessage For="@(() => UpdatePelamarResoruce.Alamat)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="d-grid gap-2 d-md-block blok">
                                    <button class="btn btn-saveChange btn-sm btn-margin" type="submit">
                                        @if (spinSave)
                                        {
                                            <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                                        }
                                        Save Changes
                                    </button>
                                    <button class="btn btn-cancel btn-sm" @onclick="editCancel">Cancel</button>
                                </div>
                            </EditForm>
                        </div>
                    }
                </div>
            </div>

            <!-- PENGALAMANNNNN -->
            <div class="col-lg-8 col-md-12">
                <div class="pengalaman">
                    <div class="row g-3 ">
                        <div class="col-md-12 mb-0">
                            <div class="d-flex align-items-center icon-icon">
                                <h3 class="me-auto title-pengalaman d-flex align-items-center">
                                    <i class="fas fa-briefcase me-2 fa-lg"></i>Pengalaman Anda
                                </h3>
                                <div class="btn-des">
                                    <div class="d-flex align-items-center">
                                        <button id="dropzone-cv" class="btn btn-sm d-flex align-items-center me-2 text-white" style="background-color: #E94455;">
                                            @if (spinCv)
                                            {
                                                <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                                            }
                                            <i class="fas fa-file-pdf me-2"></i>
                                            Upload Cv
                                        </button>
                                        <div style="display:none">
                                            <DxUpload Name="FileGambar"
                                                      UploadUrl="@GetUploadUrl(urlCvUpload)"
                                                      FileUploadStart="@OnFileUploadStartCv"
                                                      SelectedFilesChanged="SelectedFilesChangedCv"
                                                      AllowedFileExtensions="@(new List<string> { ".pdf" })"
                                                      AcceptedFileTypes="@(new List<string> { ".pdf"})"
                                                      ExternalSelectButtonCssSelector="#dropzone-cv"
                                                      ShowSelectButton="false"
                                                      FileUploaded="UploadSuksesCv">
                                            </DxUpload>
                                        </div>
                                        <button @onclick="ShowPdf" class="btn text-white btn-sm d-flex align-items-center me-2" style="background-color: #A8A7A7;">
                                            <i class="fas fa-file-pdf me-2"></i>
                                            Cv Anda
                                        </button>
                                        <button class="btn btn-sm d-flex align-items-center text-white" style="background-color: #2EB872;" data-bs-toggle="modal" data-bs-target="#addPengalaman">
                                            <i class="fas fa-file-medical me-2"></i>
                                            New Pengalaman
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 btn-mobile">
                            <div class="row g-3">
                                <div class="col-md-6 col-sm-6 col-6 ">
                                    <button @onclick="ShowPdf" class="btn btn-sm text-white" style="width: 100% !important; background-color:#A8A7A7;">
                                        <i class="fas fa-file-pdf me-2"></i>
                                        Cv
                                    </button>
                                </div>
                                <div class="col-md-6 col-sm-6 col-6">
                                    <button id="dropzone-cvMobile" class="btn btn-sm text-white" style="width: 100% !important; background-color: #E94455;">
                                        @if (spinCv)
                                        {
                                            <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                                        }
                                        <i class="fas fa-file-pdf me-2"></i>
                                        Upload Cv
                                    </button>
                                    <div style="display:none">
                                        <DxUpload Name="FileGambar"
                                                  UploadUrl="@GetUploadUrl(urlCvUpload)"
                                                  FileUploadStart="@OnFileUploadStartCv"
                                                  SelectedFilesChanged="SelectedFilesChangedCv"
                                                  AllowedFileExtensions="@(new List<string> { ".pdf" })"
                                                  AcceptedFileTypes="@(new List<string> { ".pdf" })"
                                                  ExternalSelectButtonCssSelector="#dropzone-cvMobile"
                                                  ShowSelectButton="false"
                                                  FileUploaded="UploadSuksesCv">
                                        </DxUpload>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-12">
                                    <button class="btn btn-sm d-flex justify-content-center align-items-center text-white" data-bs-toggle="modal" data-bs-target="#addPengalaman" style="width: 100% !important; background-color: #2EB872;">
                                        <i class="fas fa-file-medical me-2"></i>
                                        New Pengalaman
                                    </button>
                                </div>
                            </div>
                        </div>
                        @if (PengalamanResoruceId.Count != 0)
                        {
                            @foreach (var item in PengalamanResoruceId)
                            {
                                <div class="col-md-6">
                                    <div class="card card-pengalaman">
                                        <div class="card-body">
                                            <div class="judul d-flex flex-wrap align-items-center">
                                                <h4 class="me-auto" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#updatePengalaman">@item.TempatKerja</h4>
                                                <div class="d-flex align-items-center icon">
                                                    <i class="fas fa-edit text-primary" @onclick="@(x => ModalPengalamanUpdate(item.Id))" data-bs-toggle="modal" data-bs-target="#updatePengalaman" style="cursor: pointer;"></i>
                                                    <span class="delete text-danger d-flex align-items-center" style="cursor: pointer;">
                                                        @if (spinDeletePengalaman)
                                                        {
                                                            <span class="spinner-grow spinner-grow-sm spin-del" role="status" aria-hidden="true"></span>
                                                        }
                                                        <i class="fas fa-trash-alt" @onclick="@(x => DeletePengalaman(item.Id))"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="posisi">
                                                <h3>@item.Posisi</h3>
                                            </div>
                                            <div class="content d-flex align-items-center">
                                                <div class="me-auto d-flex align-items-center gaji">
                                                    <i class="fas fa-money-bill-wave fa-lg me-2 text-success"></i>
                                                    <span>
                                                        @($"Rp {item.Nominal:n0}")
                                                    </span>
                                                </div>
                                                <span class="badge">Kerja @item.masaKerja</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="noPengalaman">
                                <h5 class="">Kamu belum isi pengalaman</h5>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Modal PengalamanUpdate-->
<div class="modal fade" id="updatePengalaman" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-addPengalaman modal-dialog modal-dialog-centered">
        <EditForm EditContext="pengalamanUpdateContext"
                  OnSubmit="@(x => updatePengalamanSubmit(PengalamanId))">
            <DataAnnotationsValidator />
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body addPengalaman">
                    <h5 class="modal-title"> <i class="fas fa-briefcase me-2 fa-lg"></i>Ganti Pengalaman</h5>
                    <form action="">
                        <div class="dx-fieldset row g-3">
                            <div class="col-md-12 col-sm-12">
                                <div class="dx-field">
                                    <label class="form-label">Tempat Kerja </label>
                                    <DxTextBox @bind-Text="@PengalamanResourceUpdate.TempatKerja"
                                               BindValueMode="BindValueMode.OnInput"
                                               NullText="Nama Lengkap"
                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="dx-field">
                                    <label class="form-label">Jabatan/Posisi</label>
                                    <DxTextBox @bind-Text="@PengalamanResourceUpdate.Posisi"
                                               BindValueMode="BindValueMode.OnInput"
                                               NullText="Nama Lengkap"
                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="dx-field">
                                    <label class="form-label">Salary</label>
                                    <DxMaskedInput @bind-Value="@PengalamanResourceUpdate.Nominal"
                                                   CssClass="cw-320"
                                                   Mask="Rp #,#########"
                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="dx-field">
                                    <label class="form-label">Tanggal Masuk</label>
                                    <DxDateEdit @bind-Date="@PengalamanResourceUpdate.TglAwal"
                                                Mask="dd/MMMM/yyyy"
                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                        <DxDateTimeMaskProperties CaretMode="@MaskCaretMode.Advancing" />
                                    </DxDateEdit>
                                    <ValidationMessage For="@(() => PengalamanResourceUpdate.TglAwal)" />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="dx-field">
                                    <label class="form-label">Tanggal Resign</label>
                                    <DxDateEdit @bind-Date="@PengalamanResourceUpdate.TglAkhir"
                                                Mask="dd/MMMM/yyyy"
                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                        <DxDateTimeMaskProperties CaretMode="@MaskCaretMode.Advancing" />
                                    </DxDateEdit>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="dx-field">
                                    <label class="form-label">Pengalaman Kerja</label>
                                    <DxMemo Rows="7"
                                            NullText="Enter Jawaban"
                                            @bind-Text="@PengalamanResourceUpdate.Keterangan"
                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-saveChange btn-daftar" type="submit" data-bs-dismiss="modal" aria-label="Close">
                        @if (spinUpdatePengalaman)
                        {
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        }
                        Save Changes
                    </button>
                    <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@*Modal PEngalamanAdd*@
<div class="modal fade" id="addPengalaman" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-addPengalaman modal-dialog modal-dialog-centered">
        <EditForm EditContext="pengalamanAddContext"
                  OnSubmit="@AddPengalaman">
            <DataAnnotationsValidator />
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body addPengalaman">
                    <h5 class="modal-title"> <i class="fas fa-briefcase me-2 fa-lg"></i>Tambah Pengalaman</h5>
                    <form action="">
                        <div class="dx-fieldset row g-3">
                            <div class="col-md-12 col-sm-12">
                                <div class="dx-field">
                                    <label class="form-label">Tempat Kerja </label>
                                    <DxTextBox @bind-Text="@PengalamanResourdeAdd.TempatKerja"
                                               BindValueMode="BindValueMode.OnInput"
                                               NullText="Nama Lengkap"
                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="dx-field">
                                    <label class="form-label">Jabatan/Posisi</label>
                                    <DxTextBox @bind-Text="@PengalamanResourdeAdd.Posisi"
                                               BindValueMode="BindValueMode.OnInput"
                                               NullText="Nama Lengkap"
                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="dx-field">
                                    <label class="form-label">Salary</label>
                                    <DxMaskedInput @bind-Value="@PengalamanResourdeAdd.Nominal"
                                                   CssClass="cw-320"
                                                   Mask="Rp #,#########"
                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="dx-field">
                                    <label class="form-label">Tanggal Masuk</label>
                                    <DxDateEdit @bind-Date="@PengalamanResourdeAdd.TglAwal"
                                                Mask="dd/MMMM/yyyy"
                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                        <DxDateTimeMaskProperties CaretMode="@MaskCaretMode.Advancing" />
                                    </DxDateEdit>
                                    <ValidationMessage For="@(() => PengalamanResourdeAdd.TglAwal)" />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="dx-field">
                                    <label class="form-label">Tanggal Resign</label>
                                    <DxDateEdit @bind-Date="@PengalamanResourdeAdd.TglAkhir"
                                                Mask="dd/MMMM/yyyy"
                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                        <DxDateTimeMaskProperties CaretMode="@MaskCaretMode.Advancing" />
                                    </DxDateEdit>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="dx-field">
                                    <label class="form-label">Pengalaman Kerja</label>
                                    <DxMemo Rows="7"
                                            NullText="Enter Jawaban"
                                            @bind-Text="@PengalamanResourdeAdd.Keterangan"
                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-saveChange btn-daftar" type="submit" data-bs-dismiss="modal" aria-label="Close">
                        @if (spinAddPengalaman)
                        {
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        }
                        Save
                    </button>
                    <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </EditForm>
    </div>
</div>
