@page "/register"

@inherits RegisterCompBase


<div class="container-lg">
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <div class="regis">
                <div class="card-body">
                    <h2 class="card-title text-center">Sign Up</h2>
                    <EditForm EditContext="editContext"
                              OnSubmit="RegisterSubmit">
                        <DataAnnotationsValidator />
                        <div class="dx-fieldset row g-3">
                            <div class="col-md-6 col-sm-6">
                                <div class="dx-field">
                                    <label class="form-label">Nama</label>
                                    <DxTextBox @bind-Text="@DaftarResource.Nama"
                                               BindValueMode="BindValueMode.OnInput"
                                               NullText="Nama Lengkap"
                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                    <ValidationMessage For="@(() => DaftarResource.Nama)" />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="dx-field">
                                    <label class="form-label">Email</label>
                                    <DxMaskedInput @bind-Value="@DaftarResource.Email"
                                                   BindValueMode="BindValueMode.OnInput"
                                                   NullText="Alamat Email"
                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                    </DxMaskedInput>
                                    <ValidationMessage For="@(() => DaftarResource.Email)" />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="dx-field">
                                    <label class="form-label">Password</label>
                                    <DxTextBox @bind-Text="@DaftarResource.Password"
                                               BindValueMode="BindValueMode.OnInput"
                                               NullText="Password"
                                               Password="false"
                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                    <ValidationMessage For="@(() => DaftarResource.Password)" />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="dx-field">
                                    <label class="form-label">No Telepon</label>
                                    <DxMaskedInput @bind-Value="@DaftarResource.NoTlp"
                                                   BindValueMode="BindValueMode.OnInput"
                                                   Mask="###############"
                                                   NullText="No Tlpn"
                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                        <DxTextMaskProperties Placeholder="maskChar" SaveLiteral="true" />
                                    </DxMaskedInput>
                                    <ValidationMessage For="@(() => DaftarResource.NoTlp)" />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="dx-field">
                                    <label class="form-label">Tempat Lahir</label>
                                    <DxTextBox @bind-Text="@DaftarResource.TempatLahir"
                                               BindValueMode="BindValueMode.OnInput"
                                               NullText="Tempat Lahir"
                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                    <ValidationMessage For="@(() => DaftarResource.TempatLahir)" />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="dx-field">
                                    <label class="form-label">Tanggal Lahir</label>
                                    <DxDateEdit @bind-Date="@DaftarResource.TglLahir"
                                                Mask="dd/MMMM/yyyy"
                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                        <DxDateTimeMaskProperties CaretMode="@MaskCaretMode.Advancing" />
                                    </DxDateEdit>
                                    <ValidationMessage For="@(() => DaftarResource.TglLahir)" />
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="dx-field">
                                    <label class="form-label">Alamat</label>
                                    <DxMemo @bind-Text="@DaftarResource.Alamat"
                                            BindValueMode="BindValueMode.OnInput"
                                            Rows="7"
                                            NullText="Alamat saat ini"
                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                    <ValidationMessage For="@(() => DaftarResource.Alamat)" />
                                </div>
                            </div>
                            <div class="d-grid gap-2">
                                <button class="btn btn-create" type="submit">
                                    @if (spin)
                                    {
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    }
                                    Sign Up
                                </button>
                            </div>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>