@page "/updatePertanyaan/{IdPertanyaan:int}"

@inherits UpdatePertanyaanPelamarCompBase

<div class="container-lg">
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <div class="judul-pertanyaan">
                <h2>
                    Pertanyaan
                </h2>
                <p>
                    Harap Isi semua pertanyaan !
                </p>
            </div>
            @if (FormPertanyaan.Count == 0)
            {
                <div class="text-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            }
            else
            {
                @foreach (var item in FormPertanyaan)
                {
                    @switch (item.BentukIsian)
                    {
                        case "Paragraf":
                            <div class="card-body">
                                <p class="d-flex">
                                    <span class="me-auto">@item.Pertanyaan</span>
                                    <span class="bintang">*</span>
                                </p>
                                <div class="kotak-input">
                                    <div class="bungkus-input">
                                        <DxMemo Rows="7"
                                                NullText="Enter Jawaban"
                                                Text="@(item.Jawaban)"
                                                TextChanged="@(x => item.Jawaban = x.ToString())"
                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                    </div>
                                </div>
                            </div>
                            break;
                        case "Simple Text":
                            <div class="card-body">
                                <p class="d-flex">
                                    <span class="me-auto">@item.Pertanyaan</span>
                                    <span class="bintang">*</span>
                                </p>
                                <div class="kotak-input">
                                    <div class="bungkus-input">
                                        <DxTextBox NullText="Enter Jawaban"
                                                   Text="@(item.Jawaban)"
                                                   TextChanged="@(x => item.Jawaban = x.ToString())"
                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                    </div>
                                </div>
                            </div>
                            break;
                        case "Checkbox":
                            <div class="card-body">
                                <p class="d-flex">
                                    <span class="me-auto">@item.Pertanyaan</span>
                                    <span class="bintang">*</span>
                                </p>
                                <div class="kotak-input">
                                    <div class="bungkus-input">
                                        @{
                                            var checkboxHtml = item.Jawaban.Split(',').ToList();
                                        }
                                        <DxTagBox Data="@item.Pilihan"
                                                  AllowCustomTags="false"
                                                  TData=object
                                                  TValue=object
                                                  Values="@(checkboxHtml)"
                                                  SelectedItemsChanged="@((x) =>
                                                                          { var result = x.Cast<object>().ToList();
                                                                              string arrayConver = string.Join(",", result);
                                                                              item.Jawaban = arrayConver;
                                                                          })"
                                                  ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                        </DxTagBox>

                                    </div>
                                </div>
                            </div>
                            break;
                        case "Yes No Question":
                            <div class="card-body">
                                <p class="d-flex">
                                    <span class="me-auto">@item.Pertanyaan</span>
                                    <span class="bintang">*</span>
                                </p>
                                <div class="kotak-input">
                                    <div class="bungkus-input">
                                        @if (item.Jawaban == "Yes")
                                        {
                                            <div class="form-check">
                                                <input class="form-check-input" checked value="Yes" @onchange="@(x => item.Jawaban = x.Value.ToString())" type="radio" name="@item.Id">
                                                <label class="form-check-label">
                                                    Yes
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" value="No" @onchange="@(x => item.Jawaban = x.Value.ToString())" type="radio" name="@item.Id">
                                                <label class="form-check-label">
                                                    No
                                                </label>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-check">
                                                <input class="form-check-input" value="Yes" @onchange="@(x => item.Jawaban = x.Value.ToString())" type="radio" name="@item.Id">
                                                <label class="form-check-label">
                                                    Yes
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" checked value="No" @onchange="@(x => item.Jawaban = x.Value.ToString())" type="radio" name="@item.Id">
                                                <label class="form-check-label">
                                                    No
                                                </label>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            break;
                        case "Nominal":
                            <div class="card-body">
                                <p class="d-flex">
                                    <span class="me-auto">@item.Pertanyaan </span>
                                    <span class="bintang">*</span>
                                </p>
                                <div class="kotak-input">
                                    @{
                                        var nominalHtml = int.Parse(item.Jawaban.Replace(",", ""));
                                    }
                                    <div class="bungkus-input">
                                        <DxSpinEdit Value="@(nominalHtml)"
                                                    ValueChanged="(int x) => item.Jawaban = x.ToString()"
                                                    Mask="Rp #,#########"
                                                    MinValue="0" />
                                    </div>
                                </div>
                            </div>
                            break;
                        case "Tanggal":
                            <div class="card-body">
                                <p class="d-flex">
                                    <span class="me-auto">@item.Pertanyaan</span>
                                    <span class="bintang">*</span>
                                </p>
                                <div class="kotak-input">
                                    <div class="bungkus-input">
                                        @{
                                            var dateHtml = Convert.ToDateTime(item.Jawaban);
                                        }
                                        <DxDateEdit Mask="dd/MMMM/yyyy"
                                                    Date="@(dateHtml)"
                                                    PickerDisplayMode="DatePickerDisplayMode.Calendar"
                                                    FirstDayOfWeek="DayOfWeek.Monday"
                                                    DateChanged="@((DateTime x) => item.Jawaban = x.ToString("yyyy-MM-dd"))">
                                            <DxDateTimeMaskProperties CaretMode="@MaskCaretMode.Advancing" />
                                        </DxDateEdit>
                                    </div>
                                </div>
                            </div>
                            break;
                        case "Pilihan Ganda":
                            <div class="card-body">
                                <p class="d-flex">
                                    <span class="me-auto">@item.Pertanyaan</span>
                                    <span class="bintang">*</span>
                                </p>
                                <div class="kotak-input">
                                    <div class="bungkus-input">
                                        <DxComboBox Data="@item.Pilihan"
                                                    TData="object"
                                                    TValue="object"
                                                    Value="@(item.Jawaban)"
                                                    SelectedItemChanged="@((x) => item.Jawaban = x.ToString())">
                                        </DxComboBox>
                                    </div>
                                </div>
                            </div>
                            break;
                    }
                }
            }
            <div class="d-grid gap-2 mt-4 mb-4">
                <button class="btn btn-create" @onclick="SaveUpdate" type="submit">
                    @*<span *ngIf="spin" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>*@
                    Kirim Jawaban
                </button>
            </div>
        </div>
    </div>
</div>
