@page "/testUpload";

@inject NavigationManager NavigationManager
@inject UserService userService


<div id="overviewDemoDropZone" class="card custom-drop-zone jumbotron w-100 m-0">
    <span class="drop-file-icon mb-3"></span>
    <span>Drag and Drop File Here</span><span class="m-1">or</span>
    <button id="overviewDemoSelectButton" class="btn border-primary btn-primary m-1">Select File</button>
</div>


<div class="pusing">
    Halo
</div>
@*<DxUpload Name="FileGambar" Visible="@UploadVisible" ExternalSelectButtonCssSelector="#overviewDemoSelectButton" ExternalDropZoneCssSelector="#overviewDemoDropZone" MaxFileSize="15000000"
              ExternalDropZoneDragOverCssClass="bg-light border-secondary text-dark" FileUploadStart="@OnFileUploadStart" UploadUrl="@GetUploadUrl("https://www.api2.loker.bogorstudio.com/api/Users/upload-foto")" SelectedFilesChanged="@SelectedFilesChanged" CssClass="w-100">
    </DxUpload>*@

<DxUpload Name="FileGambar" Visible="@UploadVisible" ExternalSelectButtonCssSelector="#overviewDemoSelectButton" ExternalDropZoneCssSelector="#overviewDemoDropZone" MaxFileSize="15000000"
              ExternalDropZoneDragOverCssClass="bg-light border-secondary text-dark" FileUploadStart="@OnFileUploadStart" UploadUrl="@GetUploadUrl(urlApi)" SelectedFilesChanged="@SelectedFilesChanged" CssClass="w-100">
    </DxUpload>



@code {
    bool UploadVisible { get; set; } = false;

    protected string urlApi;

    protected override async Task OnInitializedAsync()
    {
       urlApi = UrlApi();
    }

    protected void SelectedFilesChanged(IEnumerable<UploadFileInfo> files)
    {
        UploadVisible = files.ToList().Count > 0;
        InvokeAsync(StateHasChanged);
    }
    protected string GetUploadUrl(string url)
    {
        return NavigationManager.ToAbsoluteUri(url).AbsoluteUri;
    }

    protected string UrlApi()
    {
        return userService.UploadFoto();
    }


    protected void OnFileUploadStart(FileUploadStartEventArgs args)
    {
        args.RequestHeaders.Add("token", "8IsbjsUF0umjtX4ryNPHWfgdJaNAo+YI/ae+wdanumIrQBguw18MK3gtzCNAgCfr6EtRDugNA9Y=");
    }
}